.idea/
.cursor/
.qoder/
.trae/
.kiro/
.pytest_cache/
.mypy_cache/
.lingma/
.agenticx/

__pycache__/ 
**/__pycache__/
**/.docs/

*.egg-info/
dist/

deploy/data/
deploy/logs/
htmlcov/
rules/
build/
markmap/
progress/
conclusions/
discussions/
exps/
thirdparty/
research/
outputs/
**/outputs/

# prd.md

*.log
.env

.coverage
coverage.xml

scan_structure.py
.DS_Store
**/.DS_Store
.pypirc