@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply m-0 bg-base text-white antialiased;
  font-family: "SF Pro Text", "PingFang SC", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
